#Content{
    grid-area: Content;
    display: flex;
    width: auto;
    background-image: url("../backgrounds/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#Home{
    height: 100vh;
    width: auto;
}

#top-level{
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    font-size: 64pt;
    font-weight: bolder;
    padding: 150px;
}

@media only screen and (max-width: 600px) {
    #top-level{
        color: white;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
        font-size: 12pt;
        font-weight: bolder;
        padding: 10px;
    }

}